#contentGroup{
    margin-left: 560px;
    width: 700px;
    background-color: white;
}

#background{
    background-color: blueviolet;
}

#contentGroup #allUl{
    display: flex;
    /*
    flex-wrap: wrap;
    width: calc(100%/3);
    */
}

#contentGroup #allUl #oneUl{
    width: 233px;
}

#contentGroup #allUl #oneUl #clothesImg{
    width: 120px;
    height: 170px;
}